* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
}

body {
  background-image: url('');
  background-repeat: no-repeat;
}

header {
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  align-items: center;
  padding: 12px 10px 15px;
}

h1 {
  min-width: 250px;
  margin-right: 12px;
}

ul {
  list-style: none;
  margin-left: auto;
}

button {
  background: none;
  border: none;
  font-size: 1.3rem;
  padding: 0 4px;
}

button:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

button:active {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

main {
  width: 80%;
  background-color:rgba(0, 0, 0, .7);
  border-radius: 10px;
  min-height: 70vh;
  margin: 70px auto;
  padding: 5px 15px 35px 35px;
}